<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules"
			   type="rules"
			   label="JCONFIG_PERMISSIONS_LABEL"
			   filter="rules"
			   component="com_eqmonitor"
			   section="component">
		</field>
	</fieldset>
	<fieldset name="options" label="COM_EQMONITOR_OPTIONS" description="COM_EQMONITOR_OPTIONS_DESC">
		<field name="baseurl"
			   type="text"
			   label="Base URL"
			   component="com_eqmonitor">
		</field>
	</fieldset>
</config>
